.container {
    padding-right: $gutter;
    padding-left: $gutter;

    @include outer-container();
}

.alignleft,
img.alignleft {
    display: inline;
    float: left;

    margin-right: $gutter;
}
.alignright,
img.alignright {
    display: inline;
    float: right;

    margin-left: $gutter;
}

.aligncenter,
img.aligncenter {
    display: block;
    clear: both;

    margin-right: auto;
    margin-left: auto;
}

.menu {
    margin: 0 0 $base-spacing;
    padding: 0;
    list-style: none;
    li {
        a {
            display: block;
            @include pad(0.25em 0.5em);
        }
    }
    .sub-menu {
        list-style: none;        
    }
}