.header {
  @include clearfix();
  .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

  }
  .brand {
    //float: left;
  }
  .navigation {
    //float: right;
  }
}
