#site-header {
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  background-color: black;
  transition: all $base-duration $base-timing;
  position: relative;
  .toggle-menu{
    float: right;
    background-color: transparent;
    @include media($desktop-width) {
      display: none;
    }
  }
  .brand {
    color: white;
    text-transform: uppercase;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    @include media($desktop-width) {
      font-size: modular-scale(2);
    }
  }


  &.is-scrolled {
    position: fixed;
    z-index: 1982;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(0,0,0,0.95);
  }

    @include media($desktop-width) {
    .container {
      .row {
        align-items: center;
        .brand {
          flex-basis: auto;
        }
        nav {
          flex-basis: auto;
          text-align: right;
        }
      }
    }
  }
}
