ul {
    padding-left: $base-spacing;
    li {
        white-space: normal;
        font-weight: $font-weight;
    }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
