body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;

    color: $base-font-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;    
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;

}

h1 {
    font-size: modular-scale(4);
}

h2 {
    font-size: modular-scale(3);
}

h3 {
    font-size: modular-scale(2);
}

h4 {
    font-size: modular-scale(1);
}

h5 {
    font-size: modular-scale(0);
}

h6 {
    font-size: modular-scale(-1);
}

small {
    font-size: modular-scale(-1);
}

p,
span {
    font-weight: $font-weight;
}

p {
    margin: 0 0 $small-spacing;
}

a {
    text-decoration: none;

    color: $action-color;
    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}
hr {
    margin: $base-spacing 0;

    border-top: 0;
    border-right: 0;
    border-bottom: $base-border;
    border-left: 0;
}
code {
    background-color: $base-background-color;
    @include pad(0.25em 0.5em);
    line-height: 1;
    color: tint($success-color, 20);
}
pre {
    background-color: $base-background-color;
    @include pad($base-spacing $gutter);
}
address {
    margin-bottom: $base-spacing;
}
blockquote {
    margin: 0;
    background-color: $base-background-color;
    border-left: solid 5px $action-color;
    font-style: italic;
    padding: 20px;
}
// cite {
//     font-style: italic;
// }
